body {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.nav__container {
  display: grid;
  grid-template-rows: 25vh 50vh 25vh;
  order: 3;
}
.nav__container .wrapper ul {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}
.nav__container .wrapper ul li {
  transition: .3s;
  cursor: pointer;
}
.nav__container .wrapper ul li:hover {
  color: rgb(173, 173, 173);
}

.article__container {
  max-width: 900px; 
  order: 2;
}

.article__container header {
  height: 200px;
  display: grid;
  grid-template-columns: 4fr 5fr;
  padding: 30px 15px 0 15px;
}

.article__container header .wrapper:first-child {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.article__container header .wrapper:first-child p {
  align-self: flex-end;
}

.article__container header .wrapper:last-child {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.article__container header .wrapper:last-child p {
  align-self: flex-end;
}

.article__container header .wrapper:last-child div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.article__container main .img__box {
  padding: 15px;
}

.article__container main .img__box img {
  width: 100%;
}

.article__container main .text__box {
  padding: 15px;
  display: grid;
  grid-template-columns: 4fr 5fr;
  column-gap: 10px;
}

.article__container main .title__box {
  padding: 15px;
}

.article__container main .columns__box {
  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-template-rows: 200px 1fr;
  column-gap: 10px;
  height: 200px;
}

.article__container main div:nth-child(4) div:nth-child(1) {
  background: url(./images/aaron-thomas-apygBYccxSA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.article__container main div:nth-child(4) div:nth-child(2) {
  background-image: url(./images/aaron-thomas-qSTjUHEQEvk-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.article__container main div:nth-child(4) p {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.article__container main ._padding {
  margin-top: 30px;
}
